@use '../../variables.scss' as vars;
@use'../InputEmail/InputEmail.scss' as mixinInput;

.input-password-wrapper {
    @include mixinInput.style-default-input(flex, column, vars.$base-space-2, vars.$base-space-2);
    @include mixinInput.size-input(vars.$width-input, vars.$height-input);

    .input-label {
        color: vars.$text-color-label;
        font-size: vars.$font-size-link;
    }

    .style-input-eyesIcon {
        display: flex;
        gap: vars.$base-space-5;
    }

    .eye-icon {
        background-color: vars.$white-color;
        border: none;

    }
}

.input-password {
    border: 1px solid vars.$disabled-color;
    border-radius: vars.$br-input;

    &::placeholder {
        color: vars.$disabled-color;
        padding: vars.$base-space-3;

    }
}

.fg-pwd {
    color: vars.$text-color-label;
    text-decoration: underline;
    font-size: vars.$font-size-link;
    float: right;

}

.input-password--disabled {
    @include mixinInput.style-default-input(flex, column, vars.$base-space-1 , vars.$base-space-2);
    @include mixinInput.size-input(vars.$width-input, vars.$height-input );
    border: 1px solid vars.$disabled-color;
    border-radius: vars.$br-input;

    &::placeholder {
        color: vars.$disabled-color;
        padding: vars.$base-space-3;

    }
}



.input-password--active {
    @include mixinInput.style-default-input(flex, column, vars.$base-space-1 , vars.$base-space-2);
    @include mixinInput.size-input(vars.$width-input, vars.$height-input );
    border: 1px solid vars.$disabled-color;
    border-radius: vars.$br-input;

    &::placeholder {
        color: vars.$disabled-color;
        padding: vars.$base-space-3;

    }


}

.input-password--error {
    @include mixinInput.style-default-input(flex, column, vars.$base-space-1 , vars.$base-space-2);
    @include mixinInput.size-input(vars.$width-input, vars.$height-input );
    border: 1px solid vars.$error-color;
    border-radius: vars.$br-input;

    &::placeholder {
        color: vars.$disabled-color;
        padding: vars.$base-space-3;

    }


}