// Apply variable

//font size
$font-size-body: 16px;
$font-size-title: 39px;
$font-size-link: 14px;

//size input
$width-input: 240px;
$height-input: 27px;


//color
$disabled-color: #868686;
$error-color: #FF0000;
$text-color-body: #020202;
$text-color-label: #A59ACA;
$focus-color: #020202;
$white-color: #FFFF;

// scale and gap
$base-space-1: 5px 0px;
$base-space-2: 4px;
$base-space-3: 6px 122px 6px 10px;
$base-space-4: 38px 40px 38px 40px;
$base-space-5: 5px;


//border
$br-input: 5px;